html, body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.videothumb {
	position: relative;
	width: 100%;
	height: 100%;
}

video {
	width: 200px;
}

.localVideo {
	transform: scale(-1,1);
	-webkit-transform: scale(-1,1); /* find something that will process this and add the vendor prefixes for me */
}